<div class="bko-password" [formGroup]="customInput">
  <input
    [type]="passwordType"
    minlength="4"
    maxlength="16"
    autocomplete
    class="bko-password__input"
    formControlName="input"
  >
  <div class="bko-password__icon" (mousedown)="toggleType()" (mouseup)="toggleType()">
    <svg height="18" width="20" class="icon" *ngIf="!isPassword()">
      <use xlink:href="assets/icons/icons.svg#showPass"></use>
    </svg>
    <svg height="18" width="20" class="icon" *ngIf="isPassword()">
      <use xlink:href="assets/icons/icons.svg#hiddenPass"></use>
    </svg>
  </div>
</div>
