/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/Montserrat-Medium.otf) format("opentype");
}

:root {
  --light-orange: #FCD17D;
  --orange: #FBBA3C;
  --darck-orange: #FAAA0F;


}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
